@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.toast-position {
  top: 5rem !important;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem auto;
}

th, td {
  border: 1px solid #333;
  padding: 12px;
}


.prose img {
  margin-left: auto;
  margin-right: auto;
}

.prose a {
  color: #337ab7;
  text-decoration: none;
}

.prose a:hover {
  text-decoration: underline;
  color: #23527c;
}

.dark .prose a {
  color: #5EB7E0;
}

.prose ul {
  list-style-type: disc !important;
}

.prose ul ul {
  list-style-type: circle !important;
}

.prose ul ul ul {
  list-style-type: square !important;
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc !important;
}

.prose ul > li::marker {
  color: black !important;
}

.prose ul ul > li::marker {
  color: gray !important;
}

.prose ul ul ul > li::marker {
  color: black !important;
}

.dark .prose ul > li::marker {
  color: white !important;
}

.dark .prose ul ul > li::marker {
  color: lightgray !important;
}

.dark .prose ul ul ul > li::marker {
  color: white !important;
}