@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.toast-position {
  top: 5rem !important;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem auto;
}

th, td {
  border: 1px solid #333;
  padding: 12px;
}


.prose img {
  margin-left: auto;
  margin-right: auto;
}